vue-chat-api/.classpath
vue-chat-api/.factorypath
vue-chat-api/.project
vue-chat-api/.settings/
vue-chat-api/target/

# Logs
vue-chat-web/logs
vue-chat-web/*.log
vue-chat-web/npm-debug.log*
vue-chat-web/yarn-debug.log*
vue-chat-web/yarn-error.log*
vue-chat-web/pnpm-debug.log*
vue-chat-web/lerna-debug.log*

vue-chat-web/node_modules
vue-chat-web/.DS_Store
vue-chat-web/dist
vue-chat-web/dist-ssr
vue-chat-web/coverage
vue-chat-web/*.local

vue-chat-web/cypress/videos/
vue-chat-web/cypress/screenshots/

# Editor directories and files
vue-chat-web/.vscode/*
vue-chat-web/!.vscode/extensions.json
vue-chat-web/.idea
vue-chat-web/*.suo
vue-chat-web/*.ntvs*
vue-chat-web/*.njsproj
vue-chat-web/*.sln
vue-chat-web/*.sw?

vue-chat-web/*.tsbuildinfo
